:host { display: inline-flex; }
.mat-button-toggle-group { background:#161616; border-radius: 999px; }
.mat-button-toggle { color:#eaeaea; }
.mat-button-toggle-checked { background:#2a2a2a !important; }
