.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.qa {
  background: #141414;
  padding: 16px;
  border-radius: 16px;
}

.qa p {
  color: #c1c1c1;
  margin-top: 8px;
}

@media (max-width: 1000px) { .grid { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 600px)  { .grid { grid-template-columns: 1fr; } }
